header .cvfoto {
border-radius: 50%;
width: 150px;
height: 150px;
overflow:hidden;
display: block;
margin: auto;
}

header .cvfoto img {
   width: 100%;
}
nav a {
    display: block;
    background-color: gray;
    margin: 1px;
    position: relative;
}

nav a::after {
    content: ">";
    position: absolute;
    right: 5px;
    color: white;
}
